body,
main {
  display: flex;
}
body {
  border-radius: 89%;
  background-color: aliceblue;
  flex-direction: column;
}
main {
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2px;
  overflow-y: auto;
}
aside {
  flex: 1px;
  overflow-y: auto;
}
h1,
h2,
h3 {
  color: blue;
}
